@tailwind base;
@tailwind components;
@tailwind utilities;

.noscrollwheel::-webkit-scrollbar {
  width: 0;
}

.gradient-bg {
  animation: AnimateGradient 8s ease infinite;
  animation-direction: alternate;
  background-size: 300% 300%;
  background-image: linear-gradient(
    -45deg,
    #ffc500,
    #dcac00 25%,
    #eb5e00 51%,
    #cd1500
  );
}

*::-webkit-scrollbar {
  background-color: black;
  width: 0.5em;
  height: 0.3em;
}
*::-webkit-scrollbar-thumb {
  background-color: rgb(56, 56, 56);
  border-radius: 10em;
}

@media (max-width: 500px) {
  *::-webkit-scrollbar {
    display: none;
  }
}
