@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body,
.navbar {
  background: radial-gradient(
    81.98% 73.07% at 76.94% 46.39%,
    #17171f 0%,
    #1b1b25 0.01%,
    #1a1a23 62.91%,
    #181821 90.36%,
    #17171f 100%
  );
}

body,
html,
#__next {
  height: 100%;
  margin: 0;
}
